<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longpc.testapplication">

    <application>
        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.longpc.testroom.TestRoomActivity"/>
        <activity android:name="com.longpc.testfragment.TestFragmentActivity" />
    </application>

</manifest>