<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deti.brand">

    <application>
        <activity android:name=".BrandIndexActivity" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".demand.progress.generate.SampleClothesProgressActivity"  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".demand.progress.logistics.LogisticsActivity"  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".demand.detail.PriceDetailActivity"  android:windowSoftInputMode="adjustPan|stateHidden"/>
    </application>

</manifest>