<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deti.designer">

    <application>
        <activity android:name=".DesignerIndexActivity" />
        <activity android:name=".materiel.popup.detaile.MaterielDetailActivity" />
    </application>

</manifest>