<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deti.brand">

    <application
        android:name="com.deti.debug.DebugAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DetiAppTheme">
        <activity
            android:name=".BrandIndexActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demand.progress.generate.SampleClothesProgressActivity" />
        <activity
            android:name=".demand.progress.logistics.LogisticsActivity" />
        <activity
            android:name=".demand.detail.PriceDetailActivity" />
        <activity android:name=".demand.update.UpdateDemandActivity" />
    </application>

</manifest>