<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deti.basis">

    <application>

        <activity android:name="com.deti.basis.splash.SplashActivity"/>
        <activity android:name="com.deti.basis.login.LoginActivity"/>
        <activity android:name="com.deti.basis.register.RegisterAcitivty" android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>